<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drag and Drop Image Upload</title>
    <style>
      .search {
        font-family: Arial, sans-serif;
        display: flex;
        padding-top: 100px;
        justify-content: center;
        align-items: flex-start;
        min-height: auto;
        margin: 0;
        background-color: #ffffff;
      }

      .upload-container {
        width: 400px;
        padding: 20px;
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        border: 2px dashed #ccc;
        border-radius: 10px;
        background-color: #fff;
        text-align: center;
        transition: border-color 0.3s;
      }

      .upload-container.dragover {
        border-color: #007bff;
      }

      .upload-container img {
        max-width: 100%;
        max-height: 100px;
        margin-top: 20px;
        border-radius: 5px;
      }

      .upload-container input {
        display: none;
      }

      .upload-container label {
        display: block;
        margin-top: 10px;
        color: #007bff;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
      }

      .upload-container p {
        margin: 0;
        color: #666;
      }
      #imageGrid {
        display: none;
      }
    </style>
  </head>
  <body>
    <div>
      <h1 style="text-align: center;">Drag and drop image for searching</h1>
      <div class="search">
        <div class="upload-container" id="upload-container">
          <p>Drag & Drop an image or <label for="file-input">browse</label></p>
          <input type="file" id="file-input" accept="image/*" />
          <img id="preview" src="" alt="Image Preview" style="display: none" />
        </div>
      </div>
      <div id="imageGrid">
        <div class="show"></div>
      </div>
    </div>

    <script>
      const uploadContainer = document.getElementById("upload-container");
      const fileInput = document.getElementById("file-input");
      const preview = document.getElementById("preview");

      uploadContainer.addEventListener("dragover", (e) => {
        e.preventDefault();
        uploadContainer.classList.add("dragover");
      });

      uploadContainer.addEventListener("dragleave", () => {
        uploadContainer.classList.remove("dragover");
      });

      uploadContainer.addEventListener("drop", (e) => {
        e.preventDefault();
        uploadContainer.classList.remove("dragover");
        const file = e.dataTransfer.files[0];
        handleFile(file);
      });

      fileInput.addEventListener("change", (e) => {
        const file = e.target.files[0];
        handleFile(file);
      });

      function showData(data) {
        console.log(data);
        document.getElementById("imageGrid").style.display = "block";
        
        data?.matches?.map((e) => {
          console.log(e?.imagePath)
          document.querySelector(".show").innerHTML += `
            <img src='/${e?.imagePath.split("/")[1]}' width="300" height="300"/>'
          `;
          
        });
      }

      function handleFile(file) {
        if (file && file.type.startsWith("image/")) {
          const reader = new FileReader();
          reader.onload = async () => {
            preview.src = reader.result;
            preview.style.display = "block";
            const base64Data = reader.result.replace(
              /^data:image\/\w+;base64,/,
              ""
            ); // Remove metadata prefix
            console.log(base64Data, reader.result);
            const formData = new FormData();
            formData.append("image", file);
            document.querySelector(".show").innerHTML = ``;
          
            fetch("/search-image", {
              method: "POST",
              body: formData,
            })
              .then((response) => response.json())
              .then((json) => {
                showData(json);
              });
          };
          reader.readAsDataURL(file);
        } else {
          alert("Please upload a valid image file.");
        }
      }
    </script>
  </body>
</html>
